i.CFUserTextEncoding
.DS_Store
Applications/
Desktop/
Documents/
Library/
Movies/
Music/
Pictures/
Public/
Downloads/
.Trash/
.zsh_history
.viminfo
.mysql_history
.gem
.bash_history
.rbenv
.bundle

Gemfile.lock
yarn.lock

.env*
